<section id="dashboard-view" class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="today-datas">
            <li class="blightblue">
              <div class="pull-left"><i class="fa fa-plane"></i></div>
              <div class="datas-text pull-right">
                <span class="bold">May 18 - 19, 2015</span> Castle Resort, Neverland
              </div>
              <div class="clearfix"></div>
            </li>

            <li class="borange">
              <div class="pull-left"><i class="fa fa-envelope"></i></div>
              <div class="datas-text pull-right">
                <span class="bold">{{vm.messageCount}}</span> Messages
              </div>
              <div class="clearfix"></div>
            </li>

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="widget wviolet">
            <div ht-widget-header title="People" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">
              <ul>
                <li ng-repeat="contact in vm.contacts track by $index"> {{contact.attributes.FirstName}} </li>
              </ul>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="widget wgreen">
            <div ht-widget-header title="{{vm.news.title}}" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">
              <small>{{vm.news.description}}</small>
              <button ng-click="vm.login()">Login</button>
              <button ng-click="vm.showSmartStoreInspector()">Show Smart Store Inspector</button>
              <button ng-click="vm.syncDown()">Sync Down</button>
              <button ng-click="vm.removeSoup()">Reomve Soup</button>
              <button ng-click="vm.logout()">Logout</button>
              <button ng-click="vm.switchUser()">Switch User</button>
              <button ng-click="vm.insertContact()">Insert Contact</button>
              <button ng-click="vm.syncUp()">Sync Up</button>
              <button ng-click="vm.createTable()">Create Table</button>
              <button ng-click="vm.createRecord()">Create Record</button>
              <button ng-click="vm.retrieveAll()">Retrieve All Records</button>
              <button ng-click="vm.retrieve()">Retrieve Record</button>
              <button ng-click="vm.update()">Update Record</button>
              <button ng-click="vm.delete()">Delete Record</button>
              <button ng-click="vm.bulkUpsert()">Bulk Upsert</button>


            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>